@model WebHamburgueria.Models.Administrador

@{
    ViewBag.Title = "Excluir Administrador - ";
}

<section class="d-flex align-items-center" style="padding-bottom: 1em;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow-lg" style="border-radius: 1rem;">
                    <!-- Cabeçalho -->
                    <div class="card-header bg-danger text-white text-center" style="border-top-left-radius: 1rem; border-top-right-radius: 1rem;">
                        <h3 class="card-title mb-0">Confirmação de Exclusão</h3>
                    </div>
                    <!-- Corpo do Card -->
                    <div class="card-body">
                        <p class="text-center fw-bold">Tem certeza que deseja excluir esse Administrador?</p>
                        <hr />
                        <div class="mb-3">
                            <strong>@Html.DisplayNameFor(model => model.Id):</strong>
                            <p>@Html.DisplayFor(model => model.Id)</p>
                        </div>
                        <div class="mb-3">
                            <strong>@Html.DisplayNameFor(model => model.Nome):</strong>
                            <p>@Html.DisplayFor(model => model.Nome)</p>
                        </div>
                        <div class="mb-3">
                            <strong>@Html.DisplayNameFor(model => model.Cpf):</strong>
                            <p>@Html.DisplayFor(model => model.Cpf)</p>
                        </div>
                        <div class="mb-3">
                            <strong>@Html.DisplayNameFor(model => model.Login):</strong>
                            <p>@Html.DisplayFor(model => model.Login)</p>
                        </div>
                        <div class="mb-3">
                            <strong>@Html.DisplayNameFor(model => model.Senha):</strong>
                            <p>@Html.DisplayFor(model => model.Senha)</p>
                        </div>

                        <!-- Rodapé com Botões -->
                        <div class="card-footer text-center">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-danger me-2">Excluir</button>
                                @Html.ActionLink("Voltar para Lista", "Index", null, new { @class = "btn btn-secondary" })
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
