@model WebHamburgueria.Models.Administrador

@{
    ViewBag.Title = "Informações do Administrador";
}

<section style="background: url('https://cdn.pixabay.com/photo/2015/06/24/15/45/burger-820876_1280.jpg') no-repeat center center; background-size: cover; padding-bottom: 1em;">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card shadow-lg" style="width: 650px; border-radius: 1rem;">

            <!-- Cabeçalho do Card -->
            <div class="card-header bg-primary text-white text-center" style="border-top-left-radius: 1rem; border-top-right-radius: 1rem;">
                <h3 class="card-title mb-0">Informações do Administrador</h3>
            </div>

            <!-- Corpo do Card -->
            <div class="card-body p-5">
                <div class="mb-3">
                    <strong>@Html.DisplayNameFor(model => model.Id): </strong>
                    <span>@Html.DisplayFor(model => model.Id)</span>
                </div>
                <div class="mb-3">
                    <strong>@Html.DisplayNameFor(model => model.Nome): </strong>
                    <span>@Html.DisplayFor(model => model.Nome)</span>
                </div>
                <div class="mb-3">
                    <strong>@Html.DisplayNameFor(model => model.Cpf): </strong>
                    <span>@Html.DisplayFor(model => model.Cpf)</span>
                </div>
                <div class="mb-3">
                    <strong>@Html.DisplayNameFor(model => model.Login): </strong>
                    <span>@Html.DisplayFor(model => model.Login)</span>
                </div>
                <div class="mb-3">
                    <strong>@Html.DisplayNameFor(model => model.Senha): </strong>
                    <span>@Html.DisplayFor(model => model.Senha)</span>
                </div>

                <!-- Rodapé do Card -->
                <div class="card-footer text-center">
                    @if (ViewBag.Total > 1)
                    {
                        <a href="@Url.Action("Delete", "Administrador", new { id = Model.Id })" class="btn btn-primary me-2">Excluir</a>
                    }
                    else
                    {
                        <span class="btn btn-outline-primary disabled me-2 action-button" aria-disabled="true">Excluir</span>
                    }
                    <a href="@Url.Action("Edit", "Administrador", new { id = Model.Id })" class="btn btn-primary me-2">Editar</a>
                    <a href="@Url.Action("Index", "Administrador")" class="btn btn-secondary">Voltar para Lista</a>
                </div>
            </div>
        </div>
    </div>
</section>
