@model IEnumerable<WebHamburgueria.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Usuários</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ID")
        </th>
        <th>
            @Html.DisplayName("Nome")
        </th>
        <th>
            @Html.DisplayName("Usuário")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>
            @Html.DisplayName("CPF")
        </th>
        <th>
            @Html.DisplayName("Telefone")
        </th>
        <th>
            @Html.DisplayName("Nascimento")
        </th>
        <th>
            @Html.DisplayName("Gênero")
        </th>
        <th>
            @Html.DisplayName("Endereco")
        </th>
        <th>
            @Html.DisplayName("Pontos")
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Senha)
        </th>*@
        <th>
            @Html.DisplayName("Convidado")
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.NomeHost)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pontos)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Senha)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Convidado)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.NomeHost)
        </td>*@
        <td>
            @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Deletar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
